@import 'sass/variables';
@import 'sass/breakpoints';
@import 'sass/source';


.mainHeaderBack , .mainHeaderStickyBack{
    border-bottom: 1px solid #eeeeee;
    .mainHeader{
        display: flex;
        align-items: center;
        padding: 15px 0px;
        .mainMenu{
            width: calc(100% - 20px);
        }
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            margin-right: 15px;
            li{
                list-style-type: none;
                padding: 0;
                margin: 0 8px;
                &::before{
                    display: none;
                }
                a{
                    padding: 10px;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    svg{
                        margin-left: 5px;
                        transition: all 0.3s;
                    }
                    .menu-icon{
                        display: flex;
                        align-items: center;
                    }
                }
                &:hover{
                    a{
                        svg{
                            fill: $mainColorDark;
                        }
                    }
                }
            }
        }
        .searchIcon{
            display: flex;
            align-items: center;
            cursor: pointer;
            .searchIconBack{
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background-color: #32323c;
            }
            span{
                font-weight: 700;
                margin-right: 5px;
            }
        }
    }
}
.mainHeaderStickyBack{
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: -100px;
    transition: all 0.5s;
    z-index: 999;
    padding: 5px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #fff;
    .mainHeader{
        padding: 5px 0px;
    }
}
.showStickyHeader{
    top: 0;
}
.stickySidebarChange{
    top: 90px !important;
}
.home , .blog{
    .mainHeaderStickyBack{
        display: none;
    }
    .mainHeaderBack{
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999999;
        border-bottom: none;
        .mainMenu{
            ul{
                li{
                    a{
                        color: #fff;
                        &:hover{
                            color: #e25e28;
                        }
                    }
                }
            }
        }
        .searchIcon{
            span{
                color: #fff;
                transition: all 0.4s;
                &:hover{
                    color: #e25e28;
                }
            }
        }
    }
}
.generalSinglePostStyle{
    width: 100%;
    .singlePostFlex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        article.post{
            width: 70%;
            @include sm{
                width: 100%;
            }
        }
        .stickySidebarSinglePostParent{
            width: 27%;
            position: sticky;
            height: max-content;
            top: 10px;
            bottom: auto;
            @include sm{
                width: 100%;
                position: unset;
            }
            .stickyNewestPostBack , .stickyMostViewPostBack{
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-bottom: 20px;
                &::before{
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    top: 0px;
                    right: 1px;
                    background-color: #eeeeee;
                }
                .generalHeading{
                    margin-top: 0;
                    h2{
                        &::before{
                            z-index: 9;
                        }
                    }
                }
                h2{
                    font-size: 18px;
                }
                a.recent-post , a.popular-post{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 15px;
                    img{
                        display: block;
                        width: 30%;
                    }
                    h3{
                        margin: 0;
                        width: 65%;
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .singlePostHeaderParent{
        padding: 10px 0px;
        @include xs{
            font-size: 13px;
        }
        .singlePostHeader{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: max-content;
            padding: 10px 0px;
            @include xs{
                width: auto;
                gap: 8px;
            }
            .categoryPost{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;
                padding-left: 15px;
                border-left: 1px solid #eeeeee;
                @include xs{
                    padding-left: 8px;
                }
                a{
                    color: $textColorLight2;
                }
            }
            .dateSinglePost{
                padding: 0px 15px;
                border-left: 1px solid #eeeeee;
                color: $textColorLight2;
                @include xs{
                    padding: 0px 8px;
                    border-left: none;
                }
            }
            .timeCountSinglePost{
                padding: 0px 15px;
                color: $textColorLight2;
                @include xs{
                    padding: 0;
                }
            }
        }
        .authorSinglePost{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;
            padding: 10px 0px;
            img{
                border-radius: 100%;
                width: 40px;
                height: 40px;
                box-shadow: rgba(25, 25, 35, 0.15) 0px 2px 8px 0px;
            }
            a{
                font-weight: 600;
            }
        }
    }
    .post-thumbnail{
        img{
            width: 100%;
        }
    }
    .entry-content{
        margin-top: 30px;
        margin-bottom: 30px;
        p{
            text-align: justify;
        }
    }
}
.contentSingleBox{
    margin: auto;
    max-width: 700px;
}
.commentInner{
    textarea{
        margin-right: 0 !important;
    }
    h2{
        text-align: center;
    }
    .comment-list{
        padding: 0px 40px;
        @include md{
            padding: 0px;
        }
        li{
            &::before{
                content: none;
            }
        }
        .comment{
            padding: 30px 0;
            
            .comment-body{
                border-bottom: 1px solid #eeeeee;
                padding: 20px 0px;
                border-top: 1px solid #eeeeee;
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    background: #eeeeee;
                    width: 1px;
                    height: 75%;
                    top: 20px;
                    right: 15px;
                    z-index: 9;
                }
                .comment-meta{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-bottom: 10px;
                    .comment-metadata{
                        margin-right: 5px;
                        @include xs{
                            margin-right: auto;
                        }
                        a{
                            color: #7d7d87 !important;
                            font-size: 13px;
                        }
                    }
                    .comment-author{
                        display: flex;
                        justify-content: flex-start ;
                        align-items: center;
                        img{
                            border-radius: 100%;
                            margin: 0 0 5px 20px;
                            z-index: 99;
                        }
                        span.says{
                            display: none;
                        }
                    }
                }
                .comment-content , .reply{
                    padding-right: 50px;
                }
                .reply{
                    a{
                        color: #9696a0 !important;
                        border-bottom: 0.7px solid #9696a0;
                    }
                }
            }
        }
    }
}
.swiper-button-next , .swiper-button-prev{
    &::after{
        content: none !important;
    }
}
.swiper-button-next{
    left: -5px !important;
}
.swiper-button-prev{
    right: -5px !important;
}
.azandBlogContainer{
    padding: 25px !important;
    .swiper-wrapper{
        .latestPostsItems{
            border-radius: 5px;
            overflow: hidden;
            a{
                img{
                    display: block;
                }
            }
            .latestPostsItemsFooter{
                .latestPostsItemsFooterIcons{
                    display: flex;
                    align-items: center;
                    padding: 15px;
                    gap: 10px;
                    .homePageBlogCardTimeCount , .homePageBlogCardCmCount{
                        display: flex;
                        gap: 3px;
                        align-items: center;
                        font-size: 14px;
                    }
                    .homePageBlogCardReadMore{
                        margin-right: auto;
                    }
                }
                svg{
                    display: block;
                }
            }
        }
    }
}
.gridSectionBlogParent{
    .gridSectionBlog{
        .recentPostsHomeList{
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            gap: 25px;
            a{
                &:nth-child(1){
                    width: 100%;
                }
                &:nth-child(2){
                    width: 48%;
                }
                &:nth-child(3){
                    width: 48%;
                }
            }
        }
    }
}  
