@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansXFaNum-Heavy.woff");
  font-weight: 100;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansXFaNum-Thin.woff");
  font-weight: 200;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansXFaNum-UltraLight.woff");
  font-weight: 300;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansXFaNum-Light.woff");
  font-weight: 350;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansXFaNum-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansXFaNum-Medium.woff");
  font-weight: 500;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansXFaNum-DemiBold.woff");
  font-weight: 600;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansXFaNum-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansXFaNum-ExtraBlack.woff");
  font-weight: 800;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansXFaNum-Black.woff");
  font-weight: 900;
}
body {
  font-family: iransansx !important;
  direction: rtl;
  margin: 0;
  overflow-x: hidden !important;
  width: 100% !important;
  color: #383e43;
  padding: 0;
  font-size: 14.5px;
  background-color: #f9f9f9;
}

* {
  box-sizing: border-box;
  direction: rtl;
}

::-moz-selection {
  background-color: #f5a623;
  color: #fff;
}

::selection {
  background-color: #f5a623;
  color: #fff;
}

.mainView {
  max-width: 1280px;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (max-width: 1280px) {
  .mainView {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

a, a:visited {
  text-decoration: none;
  color: #383e43;
  transition: all 0.3s;
}
a:hover, a:visited:hover {
  color: #e25e28;
}

button {
  font-family: iransansx !important;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, input, textarea {
  font-family: iransansx !important;
  color: #383e43;
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 35px;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

.generalHeading {
  margin: 20px 0;
  width: -moz-max-content;
  width: max-content;
}
.generalHeading span {
  display: block;
  line-height: 25px;
  font-size: 15px;
  margin-top: 15px;
  color: #6c6c6d;
}
.generalHeading h1, .generalHeading h2, .generalHeading h3, .generalHeading h4, .generalHeading h5, .generalHeading h6 {
  margin: 0;
  color: #383e43;
  font-size: 18px;
  line-height: 30px;
  position: relative;
  padding-right: 10px;
}
.generalHeading h1::before, .generalHeading h2::before, .generalHeading h3::before, .generalHeading h4::before, .generalHeading h5::before, .generalHeading h6::before {
  position: absolute;
  content: "";
  background-color: #e25e28;
  width: 3px;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .generalHeading h1, .generalHeading h2, .generalHeading h3, .generalHeading h4, .generalHeading h5, .generalHeading h6 {
    font-size: 18px;
  }
}

.mediumHeading {
  margin: 0;
  color: #383e43;
  font-size: 15px;
  line-height: 30px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}
.mediumHeading::before {
  position: absolute;
  content: "";
  background-color: #e25e28;
  width: 30px;
  height: 2px;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 480px) {
  .mediumHeading {
    font-size: 16px;
  }
}

.generalButton {
  position: relative;
  color: #383e43;
  padding: 10px 0;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 400;
  display: block;
  width: -moz-max-content;
  width: max-content;
  transition: all 0.3s;
  cursor: pointer;
}
.generalButton::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='12' height='12' fill='var(--primary-1)'%3E%3Cpath fill='%23e25e28' d='m6.7 14.7 1.4-1.4L3.8 9H16V7H3.8l4.3-4.3-1.4-1.4L0 8z'/%3E%3C/svg%3E");
  height: 15px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  transition: all 0.3s;
}
.generalButton:hover {
  color: #383e43;
}
.generalButton:hover::after {
  transform: translateX(-3px);
}

.fillButton {
  border-radius: 30px;
  padding: 5px 20px;
  background-color: #32323c;
  border: 1px solid #32323c;
  color: #fff;
  cursor: pointer;
  padding-left: 30px;
}
.fillButton::after {
  left: 10px;
}
.fillButton:hover {
  color: #fff;
  background-color: #383e43;
}

.fillButtonNoArrow {
  cursor: pointer;
  padding-left: 20px;
  margin: 10px 0;
}
.fillButtonNoArrow::after {
  display: none;
}

.noArrowButton {
  padding: 5px 20px;
  border-radius: 30px;
  border: 1px solid #32323c;
  margin: 10px 0;
  background-color: #fff;
}
.noArrowButton::after {
  display: none;
}
.noArrowButton:hover {
  background-color: #32323c;
  color: #fff;
}

.mainBoxShadow {
  box-shadow: 0 1px 3px 0 rgba(56, 62, 67, 0.1882352941);
}

p {
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #5d5f61;
}

.lightParagraph {
  font-weight: 300;
}

.lowMargined {
  margin: 7px 0;
}

.mediumMargined {
  margin: 15px 0;
}

.highMargined {
  margin: 30px 0;
}

.extraHighMargined {
  margin: 60px 0;
}

.lowPadding {
  padding: 7px;
}

.mediumPadding {
  padding: 15px;
}

.highPadding {
  padding: 30px;
}

.sectionPadding {
  padding: 40px 0;
}

.noPadding {
  padding: 0;
}

.noMargin {
  margin: 0;
}

.centeredText {
  text-align: center;
}

.justified {
  text-align: justify;
}

.bottomBorder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.topBorder {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  margin-top: 15px;
}

.generalFlexBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
  margin: 7px 0;
  position: relative;
  padding-right: 12px;
}
li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #e25e28;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
}

.darkListStyle::before {
  background-color: #383e43;
}

.noListStyle {
  padding-right: 0;
}
.noListStyle::before {
  display: none;
}

.checkListStyle {
  padding-right: 20px;
}
.checkListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2340b819' width='14' height='14' viewBox='0 0 512 512'%3E%3Cpath d='M172.2 434.6a39.3 39.3 0 0 1-28.1-11.6L22.9 301.9a33.4 33.4 0 1 1 47.2-47.2l102.1 102.2L441.9 87.1a33.4 33.4 0 0 1 47.2 47.2L200.4 423a39.7 39.7 0 0 1-28.2 11.6Z'/%3E%3C/svg%3E");
  width: 14px;
  height: 14px;
  background-color: initial;
}

.crossListStyle {
  padding-right: 20px;
}
.crossListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b82819' width='12' height='12' viewBox='0 0 512 512'%3E%3Cpath d='M312.2 255.8 482 86a33.5 33.5 0 1 0-47.4-47.4L264.8 208.4 95 38.6a33.5 33.5 0 0 0-47.4 0 33.5 33.5 0 0 0 0 47.4l169.8 169.8L47.6 425.6a33.5 33.5 0 0 0 0 47.4 33.5 33.5 0 0 0 47.4 0l169.8-169.8L434.6 473a33.5 33.5 0 0 0 47.4 0 33.5 33.5 0 0 0 0-47.4Z'/%3E%3C/svg%3E");
  width: 12px;
  height: 17px;
  background-color: initial;
}

.arrowListStyle {
  padding-right: 22px;
}
.arrowListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='12' height='12' fill='var(--primary-1)'%3E%3Cpath fill='%23e25e28' d='m6.7 14.7 1.4-1.4L3.8 9H16V7H3.8l4.3-4.3-1.4-1.4L0 8z'/%3E%3C/svg%3E");
  width: 12px;
  height: 12px;
  background-color: initial;
}

.mainBoxBorder {
  border: 1px solid #eeeeee;
}

.alignleft {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  width: 50%;
}

.alignright {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  width: 50%;
}

.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5em;
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
  text-align: right;
  width: 100%;
  padding-right: 15px;
}

input {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px 20px;
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=url] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  color: #5d5f61;
  font-size: 14px;
}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder {
  color: #707070;
  opacity: 0.25;
}
input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=email]:-moz-placeholder, input[type=tel]:-moz-placeholder, input[type=url]:-moz-placeholder {
  color: #707070;
  opacity: 0.25;
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=url]::-moz-placeholder {
  color: #707070;
  opacity: 0.25;
}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder {
  color: #707070;
  opacity: 0.25;
}
input[type=checkbox] {
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}
input[type=submit] {
  background-color: #e25e28;
  color: #fff;
  border: none;
  font-weight: 500;
  padding: 15px 25px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
  font-size: 14px;
  width: -moz-max-content;
  width: max-content;
}
input[type=submit]:hover {
  background-color: #cb4e1b;
}
input:focus {
  outline: none;
}

textarea {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px 20px;
  resize: none;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #383e43;
  font-size: 14px;
  margin-right: -15px;
}
textarea::-webkit-input-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea:-moz-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea::-moz-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea:-ms-input-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea:focus {
  outline: none;
}

select {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #e2e5fc;
  font-family: iransansx;
  background-color: transparent;
}
select option {
  font-family: iranyekanfn;
}

.mainHeaderBack, .mainHeaderStickyBack {
  border-bottom: 1px solid #eeeeee;
}
.mainHeaderBack .mainHeader, .mainHeaderStickyBack .mainHeader {
  display: flex;
  align-items: center;
  padding: 15px 0px;
}
.mainHeaderBack .mainHeader .mainMenu, .mainHeaderStickyBack .mainHeader .mainMenu {
  width: calc(100% - 20px);
}
.mainHeaderBack .mainHeader ul, .mainHeaderStickyBack .mainHeader ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.mainHeaderBack .mainHeader ul li, .mainHeaderStickyBack .mainHeader ul li {
  list-style-type: none;
  padding: 0;
  margin: 0 8px;
}
.mainHeaderBack .mainHeader ul li::before, .mainHeaderStickyBack .mainHeader ul li::before {
  display: none;
}
.mainHeaderBack .mainHeader ul li a, .mainHeaderStickyBack .mainHeader ul li a {
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.mainHeaderBack .mainHeader ul li a svg, .mainHeaderStickyBack .mainHeader ul li a svg {
  margin-left: 5px;
  transition: all 0.3s;
}
.mainHeaderBack .mainHeader ul li a .menu-icon, .mainHeaderStickyBack .mainHeader ul li a .menu-icon {
  display: flex;
  align-items: center;
}
.mainHeaderBack .mainHeader ul li:hover a svg, .mainHeaderStickyBack .mainHeader ul li:hover a svg {
  fill: #e25e28;
}
.mainHeaderBack .mainHeader .searchIcon, .mainHeaderStickyBack .mainHeader .searchIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.mainHeaderBack .mainHeader .searchIcon .searchIconBack, .mainHeaderStickyBack .mainHeader .searchIcon .searchIconBack {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #32323c;
}
.mainHeaderBack .mainHeader .searchIcon span, .mainHeaderStickyBack .mainHeader .searchIcon span {
  font-weight: 700;
  margin-right: 5px;
}

.mainHeaderStickyBack {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  top: -100px;
  transition: all 0.5s;
  z-index: 999;
  padding: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff;
}
.mainHeaderStickyBack .mainHeader {
  padding: 5px 0px;
}

.showStickyHeader {
  top: 0;
}

.stickySidebarChange {
  top: 90px !important;
}

.home .mainHeaderStickyBack, .blog .mainHeaderStickyBack {
  display: none;
}
.home .mainHeaderBack, .blog .mainHeaderBack {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  border-bottom: none;
}
.home .mainHeaderBack .mainMenu ul li a, .blog .mainHeaderBack .mainMenu ul li a {
  color: #fff;
}
.home .mainHeaderBack .mainMenu ul li a:hover, .blog .mainHeaderBack .mainMenu ul li a:hover {
  color: #e25e28;
}
.home .mainHeaderBack .searchIcon span, .blog .mainHeaderBack .searchIcon span {
  color: #fff;
  transition: all 0.4s;
}
.home .mainHeaderBack .searchIcon span:hover, .blog .mainHeaderBack .searchIcon span:hover {
  color: #e25e28;
}

.generalSinglePostStyle {
  width: 100%;
}
.generalSinglePostStyle .singlePostFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.generalSinglePostStyle .singlePostFlex article.post {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .generalSinglePostStyle .singlePostFlex article.post {
    width: 100%;
  }
}
.generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent {
  width: 27%;
  position: sticky;
  height: -moz-max-content;
  height: max-content;
  top: 10px;
  bottom: auto;
}
@media screen and (max-width: 768px) {
  .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent {
    width: 100%;
    position: unset;
  }
}
.generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyNewestPostBack, .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyMostViewPostBack {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyNewestPostBack::before, .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyMostViewPostBack::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0px;
  right: 1px;
  background-color: #eeeeee;
}
.generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyNewestPostBack .generalHeading, .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyMostViewPostBack .generalHeading {
  margin-top: 0;
}
.generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyNewestPostBack .generalHeading h2::before, .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyMostViewPostBack .generalHeading h2::before {
  z-index: 9;
}
.generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyNewestPostBack h2, .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyMostViewPostBack h2 {
  font-size: 18px;
}
.generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyNewestPostBack a.recent-post, .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyNewestPostBack a.popular-post, .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyMostViewPostBack a.recent-post, .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyMostViewPostBack a.popular-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}
.generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyNewestPostBack a.recent-post img, .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyNewestPostBack a.popular-post img, .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyMostViewPostBack a.recent-post img, .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyMostViewPostBack a.popular-post img {
  display: block;
  width: 30%;
}
.generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyNewestPostBack a.recent-post h3, .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyNewestPostBack a.popular-post h3, .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyMostViewPostBack a.recent-post h3, .generalSinglePostStyle .singlePostFlex .stickySidebarSinglePostParent .stickyMostViewPostBack a.popular-post h3 {
  margin: 0;
  width: 65%;
  font-size: 16px;
  font-weight: 700;
}
.generalSinglePostStyle .singlePostHeaderParent {
  padding: 10px 0px;
}
@media screen and (max-width: 480px) {
  .generalSinglePostStyle .singlePostHeaderParent {
    font-size: 13px;
  }
}
.generalSinglePostStyle .singlePostHeaderParent .singlePostHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 0px;
}
@media screen and (max-width: 480px) {
  .generalSinglePostStyle .singlePostHeaderParent .singlePostHeader {
    width: auto;
    gap: 8px;
  }
}
.generalSinglePostStyle .singlePostHeaderParent .singlePostHeader .categoryPost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-left: 15px;
  border-left: 1px solid #eeeeee;
}
@media screen and (max-width: 480px) {
  .generalSinglePostStyle .singlePostHeaderParent .singlePostHeader .categoryPost {
    padding-left: 8px;
  }
}
.generalSinglePostStyle .singlePostHeaderParent .singlePostHeader .categoryPost a {
  color: #7d7d87;
}
.generalSinglePostStyle .singlePostHeaderParent .singlePostHeader .dateSinglePost {
  padding: 0px 15px;
  border-left: 1px solid #eeeeee;
  color: #7d7d87;
}
@media screen and (max-width: 480px) {
  .generalSinglePostStyle .singlePostHeaderParent .singlePostHeader .dateSinglePost {
    padding: 0px 8px;
    border-left: none;
  }
}
.generalSinglePostStyle .singlePostHeaderParent .singlePostHeader .timeCountSinglePost {
  padding: 0px 15px;
  color: #7d7d87;
}
@media screen and (max-width: 480px) {
  .generalSinglePostStyle .singlePostHeaderParent .singlePostHeader .timeCountSinglePost {
    padding: 0;
  }
}
.generalSinglePostStyle .singlePostHeaderParent .authorSinglePost {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
}
.generalSinglePostStyle .singlePostHeaderParent .authorSinglePost img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  box-shadow: rgba(25, 25, 35, 0.15) 0px 2px 8px 0px;
}
.generalSinglePostStyle .singlePostHeaderParent .authorSinglePost a {
  font-weight: 600;
}
.generalSinglePostStyle .post-thumbnail img {
  width: 100%;
}
.generalSinglePostStyle .entry-content {
  margin-top: 30px;
  margin-bottom: 30px;
}
.generalSinglePostStyle .entry-content p {
  text-align: justify;
}

.contentSingleBox {
  margin: auto;
  max-width: 700px;
}

.commentInner textarea {
  margin-right: 0 !important;
}
.commentInner h2 {
  text-align: center;
}
.commentInner .comment-list {
  padding: 0px 40px;
}
@media screen and (max-width: 992px) {
  .commentInner .comment-list {
    padding: 0px;
  }
}
.commentInner .comment-list li::before {
  content: none;
}
.commentInner .comment-list .comment {
  padding: 30px 0;
}
.commentInner .comment-list .comment .comment-body {
  border-bottom: 1px solid #eeeeee;
  padding: 20px 0px;
  border-top: 1px solid #eeeeee;
  position: relative;
}
.commentInner .comment-list .comment .comment-body::before {
  position: absolute;
  content: "";
  background: #eeeeee;
  width: 1px;
  height: 75%;
  top: 20px;
  right: 15px;
  z-index: 9;
}
.commentInner .comment-list .comment .comment-body .comment-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}
.commentInner .comment-list .comment .comment-body .comment-meta .comment-metadata {
  margin-right: 5px;
}
@media screen and (max-width: 480px) {
  .commentInner .comment-list .comment .comment-body .comment-meta .comment-metadata {
    margin-right: auto;
  }
}
.commentInner .comment-list .comment .comment-body .comment-meta .comment-metadata a {
  color: #7d7d87 !important;
  font-size: 13px;
}
.commentInner .comment-list .comment .comment-body .comment-meta .comment-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.commentInner .comment-list .comment .comment-body .comment-meta .comment-author img {
  border-radius: 100%;
  margin: 0 0 5px 20px;
  z-index: 99;
}
.commentInner .comment-list .comment .comment-body .comment-meta .comment-author span.says {
  display: none;
}
.commentInner .comment-list .comment .comment-body .comment-content, .commentInner .comment-list .comment .comment-body .reply {
  padding-right: 50px;
}
.commentInner .comment-list .comment .comment-body .reply a {
  color: #9696a0 !important;
  border-bottom: 0.7px solid #9696a0;
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: none !important;
}

.swiper-button-next {
  left: -5px !important;
}

.swiper-button-prev {
  right: -5px !important;
}

.azandBlogContainer {
  padding: 25px !important;
}
.azandBlogContainer .swiper-wrapper .latestPostsItems {
  border-radius: 5px;
  overflow: hidden;
}
.azandBlogContainer .swiper-wrapper .latestPostsItems a img {
  display: block;
}
.azandBlogContainer .swiper-wrapper .latestPostsItems .latestPostsItemsFooter .latestPostsItemsFooterIcons {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
}
.azandBlogContainer .swiper-wrapper .latestPostsItems .latestPostsItemsFooter .latestPostsItemsFooterIcons .homePageBlogCardTimeCount, .azandBlogContainer .swiper-wrapper .latestPostsItems .latestPostsItemsFooter .latestPostsItemsFooterIcons .homePageBlogCardCmCount {
  display: flex;
  gap: 3px;
  align-items: center;
  font-size: 14px;
}
.azandBlogContainer .swiper-wrapper .latestPostsItems .latestPostsItemsFooter .latestPostsItemsFooterIcons .homePageBlogCardReadMore {
  margin-right: auto;
}
.azandBlogContainer .swiper-wrapper .latestPostsItems .latestPostsItemsFooter svg {
  display: block;
}

.gridSectionBlogParent .gridSectionBlog .recentPostsHomeList {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 25px;
}
.gridSectionBlogParent .gridSectionBlog .recentPostsHomeList a:nth-child(1) {
  width: 100%;
}
.gridSectionBlogParent .gridSectionBlog .recentPostsHomeList a:nth-child(2) {
  width: 48%;
}
.gridSectionBlogParent .gridSectionBlog .recentPostsHomeList a:nth-child(3) {
  width: 48%;
}/*# sourceMappingURL=additional.css.map */